<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.student.mapper.ScoreMapper"><!--여기 위치가 잘못 되어있었어요~~-->
    <resultMap id="scoreMap" type="org.choongang.student.entities.Score"><!--여기도 위치가 잘못 되어있었어요~~-->
        <result column="S_NO" property="sNo" />
        <result column="SUB_CODE" property="subCode" />
        <result column="S_YEAR" property="sYear" />
        <result column="S_SEM" property="sSem" />
        <result column="S_SCORE" property="sScore" />
    </resultMap>

    <!-- 성적 목록 조회 -->
    <select id="getList" resultMap="scoreMap">
        <bind name="pSNo" value="'%' + _parameter.getSNo() + '%'" />
        <bind name="pSubCode" value="'%' + _parameter.getSubCode() + '%'" />
        <bind name="pSSem" value="'%' + _parameter.getSSem() + '%'" />
        <bind name="pKeyword" value="'%' + _parameter.getKeyword() + '%'" />
        SELECT * FROM ( SELECT ROWNUM NUM, t.* FROM SCORE t) m
        <where>
            <![CDATA[m.NUM >= {sRow} AND m.NUM <= {eRow}]]>
            <if test="sNo != null">
                AND S_NO LIKE #{pSNo}
            </if>
            <if test="SubCode != null">
                AND SUB_CODE LIKE #{pSubNm}
            </if>
            <if test="sSem != null">
                AND S_SEM LIKE #{pSSem}
            </if>
            <if test="keyword != null">
                AND CONCAT(S_NO, SUB_CODE,S_SEM) LIKE #{pKeyword}
            </if>
        </where>
        ORDER BY m.S_SCORE DESC
    </select>

    <!-- 성적 개별 조회 -->
    <select id="get" resultMap="scoreMap">
        SELECT * FROM SCORE
        <where>
            <if test="sNo != null">
                SNO=#{sno}
            </if>
        </where>
    </select>

    <!-- 성적 목록 갯수, 페이징 구현시 활용 가능 -->
    <select id="getTotal" resultType="long">
        <bind name="pSNo" value="'%' + _parameter.getSNo() + '%'" />
        <bind name="pSubCode" value="'%' + _parameter.getSubCode() + '%'" />
        <bind name="pSSem" value="'%' + _parameter.getSSem() + '%'" />
        <bind name="pKeyword" value="'%' + _parameter.getKeyword() + '%'" />
        SELECT COUNT(*) FROM SCORE
        <where>
            <if test="sNo != null">
                AND S_NO LIKE #{pSNo}
            </if>
            <if test="SubCode != null">
                AND SUB_CODE LIKE #{pSubNm}
            </if>
            <if test="sSem != null">
                AND S_SEM LIKE #{pSSem}
            </if>
            <if test="keyword != null">
                AND CONCAT(S_NO, SUB_CODE,S_SEM) LIKE #{pKeyword}
            </if>
        </where>
    </select>

    <!-- 성적 등록 여부 파악 - 갯수가 나오면 이미 등록으로 판단 -->
    <select id="exist" resultType="int">
        SELECT COUNT(*) FROM SCORE WHERE S_No=#{sNo}
    </select>

    <!-- 성적 등록 -->
    <insert id="register">
        INSERT INTO SCORE (S_NO, SUB_CODE, S_YEAR, S_SEM, S_SCORE )
        VALUES (#{sNo}, #{subCode}, #{sYear}, #{sSem}, #{sScore})
    </insert>

    <!-- 성적 정보 수정 -->
    <update id="modify">
        UPDATE SCORE
        <set>
            <if test="subCode != null">
                SUB_CODE=#{sSubCode},
            </if>
            <if test="sYear != null">
                S_YEAR=#{sYear},
            </if>
            <if test="sSem != null">
                S_SEM=#{sSem},
            </if>
            <if test="sScore != null">
                S_SCORE=#{sScore},
            </if>
        </set>
        WHERE S_No=#{sNo}
    </update>

    <!-- 성적 삭제 -->
    <delete id="delete">
        DELETE FROM SCORE WHERE S_No=#{sNo}
    </delete>
</mapper>